svg.house .section:hover {
  cursor: pointer;
  fill-opacity: .5;
}

.container {
/*   display: flex; */
/*   flex-direction: column; */
  width: 60vw;
  margin: 0 auto;
/*   justify-content: center; */
}

.house-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vh; /* TODO: remove this */
  max-height: 80vh;
  margin: 0 auto;
}

.section.on,
.section.on:hover {
  fill: #86cccc;
  fill-opacity: 1 !important;
  stroke: orange;
  stroke-width: 2;
}

.buttons ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

ul li {
  list-style: none;
  display: inline-block; 
}

.fields input, 
.fields select {
  width: 50px;
  padding: 5px;
}

.fields select {
  display: inline-block;
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box; 
  box-sizing:content-box;
}

.buttons ul li {
  border: #333 solid 2px;
  padding: 10px 0px;
  margin: 5px;
}

.buttons a {
  text-decoration: none;
  color: #333;
  -webkit-transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
  -moz-transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
  -o-transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955); 
  transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
  padding: 10px 20px
}

#buttons-sections li a:hover {
  background: #fff;
  color: #1db8e8;
  border-radius: 50px;
}

.buttons a.active {
  background: #86cccc;

}

#button-calculate {
  background-color: #2ecc71;
}

.buttons ul li,
.buttons a.active,
#button-calculate {
    border-radius: 50px;
}

.fields {
  width: 40%;
  margin: 2em auto;
}

.fields ul {
    margin: 0;
    padding: 0;
}

.fields li {
  display: block;
  margin: 1em;
}

.fields li label {
  display: inline-block;
  width: 50%;
  text-align: right;
  margin-right: 10px;
}

@media screen and (max-width: 480px) {
  body {
    padding: 0;
    margin: 0;
    font-size: 80%;
  }
  .container {
    width: 100vw;
  }

  .buttons {
    margin-top: 1em;
  }

  .buttons ul li {
    border: #333 solid 1px;
    padding: 10px 0px;
    margin: 3px;
  }
  
  .buttons ul li,
  .buttons a.active,
  #button-calculate {
    border-radius: 10px; 
  }
  .fields {
    width: auto;
  }

}